{% include 'store/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    body{
        background-color: grey;
    }
</style>
<body>
        <br>
        <div class="container bg-white shadow-md p-5 form-layout">
             <h4> Welcome, {{user}} </h4>
             <hr>
             <p> This is your dashboard where you can perform any of the following: </p>
             <ul>
                <li>Track your orders</li>
                <li>Manage your account</li>
            </ul>

    </div>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <h4> Track your orders</h4>
        <hr>
        <a class="btn btn-primary navbar-btn text-white" type="button"  href=""> My orders </a>
    </div>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <h4> Manage your account</h4>
        <hr>
        <a class="btn btn-primary navbar-btn text-white" type="button"  href="{% url 'profile-management' %}"> Profile management </a>
        <br><br>
        <a class="btn btn-danger navbar-btn text-white" type="button"  href="{% url 'user-logout' %}"> Logout </a>
    </div>
</body>
<br>
{% endblock %}
